body {
    direction: rtl;
}

:root {
    --color-primery: #31A94E;
}

*,
:after,
:before {
    box-sizing: border-box;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a,
a:hover,
.active,
a:active,
a:visited,
a:focus {
    color: #fefefe;
    text-decoration: none;
}

.pdf_show_menu {
    display: flex !important;
}


.pdf_exo_menu {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    list-style: none;
    position: relative;
    height: 42px;
    align-items: center;
    background: var(--color-primery);
    border-radius: 0px 0px 5px 5px;
}



.pdf_exo_menu>li>.active,
.pdf_exo_menu>li:hover {
    background: #227D38;
    color: #fff;
}



.pdf_drop_down {
    direction: rtl;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.pdf_drop_down>a::after,
.pdf_mega_drop_down>a::after {
    content: url(./assets/Stroke.png);
    margin-right: 7px;
}

.pdf_mega_drop_down,
.pdf_drop_down {
    position: relative;
    height: 100%;
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.pdf_mega_menu_item {
    min-width: 200px;
    flex: 1;
}

.pdf_title_drop_down {
    white-space: nowrap;
    font-family: 'IRANYekanWebFn';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #FFFFFF;
}


.pdf_drop_down_ul {
    right: 0;
    min-width: 100%;
    padding: 17px 18px 41px 18px;
    top: 100%;
    display: none;
    flex-direction: column;
    position: absolute;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 0px 0px 5px 5px;
    z-index: 2;
}

.pdf_stander>li>a,
.pdf_drop_down_ul>li>a {
    white-space: nowrap;
    padding-bottom: 8px;
    display: block;
    text-decoration: none;
    font-family: 'IRANYekanWebFn';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    color: #000000;
}

.pdf_stander>li>a:hover,
.pdf_drop_down_ul>li>a:hover {
    color: var(--color-primery);
    background: none;
    background-color: transparent;
}

.pdf_mega_menu {
    /* width: 100%; */
    right: 0;
    top: 100%;
    padding: 17px 18px 41px 18px;
    display: none;
    position: absolute;
    min-height: 100%;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 0px 0px 5px 5px;
    z-index: 2;
}






/*hover*/

.pdf_mega_menu:hover,
.pdf_drop_down_ul:hover,
.pdf_drop_down:hover>.pdf_drop_down_ul,
.pdf_mega_drop_down:hover>.pdf_mega_menu {
    display: flex;
}



@media (max-width: 767px) {
    .pdf_exo_menu {
        display: none;
        flex-direction: column;
        min-height: 58px;
        background: rgba(49, 49, 49, 0.384);
        width: 100%;
        height: auto;
        padding: 18px;
    }

    .pdf_drop_down_ul,
    .pdf_mega_menu {
        position: unset;
        background: none;
        box-shadow: none;
        backdrop-filter: none;
    }

    .pdf_drop_down,
    .pdf_mega_drop_down {
        width: 100%;
        flex-direction: column;
        background-color: transparent;
        background: none;
        min-height: 42px;
    }

    .pdf_exo_menu>li>.active,
    .pdf_exo_menu>li:hover {
        background: none;
        color: #fff;
    }

    .pdf_exo_menu>li>a {
        width: 100%;

    }

    .pdf_exo_menu>li {
        width: 100%;
    }
}

.toggle-menu {
    position: absolute;
    right: 0px;
    padding: 20px;
    font-size: 27px;
    background-color: #ccc;
    color: #23364b;
    top: 0px;
}